{% extends 'base.html' %}
{% block title_block %}User Detail{% endblock %}
{% block body_block %}
    <div class="row">
        <h1>{{ user_profile.get_full_name }}</h1><br>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12">
                    <label>Role:{{ user_profile.role.name }}</label><br>
                </div>
            </div>
            <div class="row">
                {% if user_profile.website %}
                <div class="col-sm-12">
                    <label>Personal Website:<a href="{{ user_profile.website }}">{{ user_profile.website }}</a></label><br>
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>Birthday:{{ user_profile.birthday }}</label><br>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            {% if user_profile.picture %}
            <img src="{{ user_profile.picture.url }}" alt="User Image" width="50%" height="50%"/><br>
            {% endif %}
        </div>
    </div>



    </div>

    <div class="row">

    </div>






{% endblock %}